@tailwind base;
@tailwind components;
@tailwind utilities;

/* Faster rotation ot ring */
@keyframes spin-fast {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }
  
  /* Slower rotation in ring */
  @keyframes spin-slow {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
  }
  
  /* Animation classes */
  .animate-spin-fast {
    animation: spin-fast 1s linear infinite;
  }
  
  .animate-spin-slow {
    animation: spin-slow 2s linear infinite;
  }
  